/*
@link : http://rinto.sinaga.or.id
@copyright : Rinto Exandi
@author : Rinto Exandi Sinaga <rinto@sinaga.or.id>
*/
/* 
    Created on : Mar 29, 2019, 9:21:51 AM
    Author     : Rinto Exandi <rinto at sinaga.or.id>
*/

.single {
padding: -5px 10px;
margin-top: 5px;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 0px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 30px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 5px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 10px;
border-bottom: 1px solid #f0f0f0;
line-height: 14px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }
.tarik-kanan {
    float: right;
}