.timeline {
  width :100%;
  height:400px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline:before{
  color: #fff;
  background-color: #fff;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 40px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 12;
}
.timestamp .box-body {
   padding :20px;
}
.timestamp p {
  padding :0px;
}
.timestamp .description {
  text-aling : center;
  padding :0px 0px 0px 0px;
}
.timestamp .date {
  text-aling : center;
  padding :0px 0px 20px 0px;
}
.status {
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 200px;
}
.status .status-badge{
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #333333;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.status .glyphicon, .status .fa {
  color: #fff;
  top: -32px;
  bottom:0px; 
  right: -25%;
  font-size: 25px;
}

.status:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -25px;
  left: 37%;
  transition: all 200ms ease-in;
}

.li.valid .status {
  border-top: 2px solid #66DC71;
}
.li.valid .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
